<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<form action="/home/" method="post">
    {% csrf_token %}
    <p>Welcome {{name}}</p>
    
    <a href="/assignsections/">Assign Sections</a>
    <a href="/createcourse/">Create Course</a>
    <a href="/createuser/">Create User</a>
    <a href="/editcontactinfo/">Edit Contact Info</a>
    <a href="/edituser/">Edit User</a>
    <a href="/manageusers/">Manage Users</a>
     <a href="/createsection/">Create Sections</a>
    
</form>

</body>
</html>